<div class="home_container">
    
    <app-card gameCover="assets/bt-5.jpg" gamelabel="DIGITAL" gameType="DIGITAL | PS4" gamePrice="R$ 129,99"></app-card>
    
    <app-card gameCover="assets/bt-4.jpg" gamelabel="EXCLUSIVE" gameType="DISC | PS5" gamePrice="R$ 229,99"></app-card>

    <app-card gameCover="assets/bt-bad-company-2.jpg" gamelabel="DIGITAL" gameType="DISC | PS5" gamePrice="R$ 129,99"></app-card>

    <app-card gameCover="assets/ac-cover.jpg" gamelabel="GAME OF THE YEAR" gameType="DISC | PS5" gamePrice="R$ 99,90"></app-card>
</div>


